{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "finpay.fullname" . }}-prometheus
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval | default "10s" | quote }}
      evaluation_interval: {{ .Values.prometheus.evaluationInterval | default "10s" | quote }}

    rule_files:
      - /etc/prometheus/rules.yml

    scrape_configs:
      - job_name: otelcol-gateway
        static_configs:
          - targets: ["otelcol-gateway:8888"]
      - job_name: finpay-api
        static_configs:
          - targets: ["finpay-api:2112"]
{{- if .Values.prometheus.extraScrapeConfigs }}
{{- if ne (.Values.prometheus.extraScrapeConfigs | trim) "" }}
{{ .Values.prometheus.extraScrapeConfigs | nindent 4 }}
{{- end }}
{{- end }}

  rules.yml: |
{{- (.Files.Get "files/prometheus/rules.yml") | nindent 4 }}
{{- end }}
