{{- if .Values.grafana.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
        {{- include "finpay.labels" . | nindent 8 }}
      annotations:
        checksum/grafana-datasources: {{ include (print $.Template.BasePath "/grafana.datasources.configmap.yaml") . | sha256sum }}
        {{- if .Values.grafana.dashboards.enabled }}
        checksum/grafana-dashboards-provisioning: {{ include (print $.Template.BasePath "/grafana.dashboards-provisioning.configmap.yaml") . | sha256sum }}
        checksum/grafana-dashboards: {{ include (print $.Template.BasePath "/grafana.dashboards.configmap.yaml") . | sha256sum }}
        {{- end }}
    spec:
      containers:
        - name: grafana
          image: "{{ .Values.grafana.image.repository }}:{{ .Values.grafana.image.tag }}"
          imagePullPolicy: {{ .Values.grafana.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: {{ .Values.grafana.adminUser | quote }}
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: {{ .Values.grafana.adminPassword | quote }}
            - name: GF_USERS_ALLOW_SIGN_UP
              value: "false"
          volumeMounts:
            - name: grafana-storage
              mountPath: /var/lib/grafana
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true
            {{- if .Values.grafana.dashboards.enabled }}
            - name: grafana-dashboards-provisioning
              mountPath: /etc/grafana/provisioning/dashboards
              readOnly: true
            - name: grafana-dashboards
              mountPath: /var/lib/grafana/dashboards
              readOnly: true
            {{- end }}
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            {{- toYaml .Values.grafana.resources | nindent 12 }}
      volumes:
        - name: grafana-storage
          emptyDir: {}
        - name: grafana-datasources
          configMap:
            name: {{ include "finpay.fullname" . }}-grafana-datasources
        {{- if .Values.grafana.dashboards.enabled }}
        - name: grafana-dashboards-provisioning
          configMap:
            name: {{ include "finpay.fullname" . }}-grafana-dashboards-provisioning
        - name: grafana-dashboards
          configMap:
            name: {{ include "finpay.fullname" . }}-grafana-dashboards
        {{- end }}
{{- end }}
