{{- if .Values.loki.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  labels:
    app: loki
    {{- include "finpay.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      annotations:
        checksum/loki-config: {{ include "finpay.lokiConfigChecksum" . }}
      labels:
        app: loki
        {{- include "finpay.labels" . | nindent 8 }}
    spec:
      containers:
        - name: loki
          image: "{{ .Values.loki.image.repository }}:{{ .Values.loki.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          args: ["-config.file=/etc/loki/config.yaml"]
          ports:
            - { name: http, containerPort: 3100 }
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
          volumeMounts:
            - name: loki-config
              mountPath: /etc/loki
            - name: loki-data
              mountPath: /var/loki
      volumes:
        - name: loki-config
          configMap:
            name: loki-config
        - name: loki-data
          emptyDir: {}
{{- end }}
