apiVersion: apps/v1
kind: Deployment
metadata:
  name: otelcol-gateway
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otelcol-gateway
  template:
    metadata:
      annotations:
        checksum/otelcol-config: {{ include "finpay.otelcolConfigChecksum" . }}
      labels:
        app: otelcol-gateway
        {{- include "finpay.labels" . | nindent 8 }}
    spec:
      containers:
        - name: otelcol
          image: "{{ .Values.otelcol.image.repository }}:{{ .Values.otelcol.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          args: ["--config=/etc/otelcol/config.yaml"]
          ports:
            - { name: otlp-grpc, containerPort: 4317 }
            - { name: otlp-http, containerPort: 4318 }
            - { name: metrics, containerPort: 8888 }
            - { name: health, containerPort: 13133 }
          env:
            - name: TEMPO_ENDPOINT
              value: {{ .Values.otelcol.exporters.tempo.endpoint }}
            - name: OTELCOL_MODE
              value: {{ .Values.otelcol.mode }}
            - name: DECISION_WAIT
              value: {{ .Values.otelcol.break.decisionWait | quote }}
            - name: NUM_TRACES
              value: {{ .Values.otelcol.break.numTraces | quote }}
            - name: EXPECTED_NEW_TRACES_PER_SEC
              value: {{ .Values.otelcol.break.expectedNewTracesPerSec | quote }}
            - name: TAIL_SAMPLING_PERCENTAGE
              value: {{ .Values.otelcol.break.tailSamplingPercentage | quote }}
          resources:
            requests:
              cpu: {{ .Values.otelcol.resources.requests.cpu | quote }}
              memory: {{ .Values.otelcol.resources.requests.memory | quote }}
          volumeMounts:
            - name: otelcol-config
              mountPath: /etc/otelcol
      volumes:
        - name: otelcol-config
          configMap:
            name: otelcol-config
