{{- if .Values.tempo.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: tempo
  labels:
    {{- include "finpay.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: tempo
  ports:
    - name: http
      port: {{ .Values.tempo.service.port }}
      targetPort: http

    - name: otlp-grpc
      port: {{ .Values.tempo.service.otlpGrpcPort }}
      targetPort: otlp-grpc

    - name: otlp-http
      port: {{ .Values.tempo.service.otlpHttpPort }}
      targetPort: otlp-http
{{- end }}
