receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}
processors:
  tail_sampling:
    decision_wait: ${env:DECISION_WAIT:-1s}
    num_traces: ${env:NUM_TRACES:-500}
    expected_new_traces_per_sec: ${env:EXPECTED_NEW_TRACES_PER_SEC:-20000}
    policies:
      - name: sample-low
        type: probabilistic
        probabilistic:
          sampling_percentage: ${env:TAIL_SAMPLING_PERCENTAGE:-0.5}
  batch: {}
exporters:
  otlp/tempo:
    endpoint: ${TEMPO_ENDPOINT}
    tls:
      insecure: true
extensions:
  health_check:
    endpoint: 0.0.0.0:13133
service:
  telemetry:
    metrics:
      address: 0.0.0.0:8888
  extensions:
    - health_check
  pipelines:
    traces:
      receivers: [otlp]
      processors: [tail_sampling, batch]
      exporters: [otlp/tempo]
