name: helm-ci
on:
  pull_request:
    branches: [ main ]

jobs:
  helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
      - run: helm lint charts/finpay-otelcol
      - run: helm template finpay charts/finpay-otelcol > rendered.yaml
      - run: |
          docker run --rm -i ghcr.io/yannh/kubeconform:latest -summary -strict -ignore-missing-schemas < rendered.yaml
