receivers:
  filelog:
    include:
      # /var/log/pods/<namespace>_<podname>_<uid>/<container>/*.log
      - /var/log/pods/monitoring_otelcol-gateway-*_*/*/*.log
    start_at: end
    include_file_path: true
    operators:
      - type: container
        id: container-parser

processors:
  k8sattributes:
    auth_type: serviceAccount
    passthrough: false
    filter:
      node_from_env_var: K8S_NODE_NAME
    pod_association:
      - sources:
          - from: resource_attribute
            name: k8s.pod.uid
    extract:
      labels:
        - key: app
          tag_name: app

  batch: {}

exporters:
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

service:
  pipelines:
    logs:
      receivers: [filelog]
      processors: [k8sattributes, batch]
      exporters: [otlphttp/loki]
